body {
  font-family: 'Open Sans', 'Roboto', 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#fullName {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.occupation {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.topLeft {
  margin-left: 30px;
}

.personalInfo {
  font-size: 14px;
  margin-right: 70px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

div p {
  margin: 5px 0;
}

.divider {
  height: 4px;
  background-color: #f7b500;
  border: none;
  margin-top: 50px;
}

.blackDivider {
  height: 1px;
  background-color: black;
  border: none;
  margin: 10px;
}

.section2 {
  display: flex;
  align-items: center;
}

.sectionHeading {
  font-size: 19px;
  margin-left: 30px;
  margin-right: 70px;
  font-style: italic;
}

.profileParagraph {
  margin-right: 200px;
  line-height: 1.5;
  margin-left: 17px;
  margin-top: 25px;
}

.section3 {
  display: flex;
}


.job-entry {
  margin-bottom: 20px;
}

.jobHeading {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}

.description {
  margin-right: 200px;
  line-height: 1.5;
}

.section4 {
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

.right2 {
  margin-top: 20px;
  margin-left: 10px;
}

.section5 {
  display: flex;
}